.login_register_content {
  h1 {
    color: var(--second-background-color);
    letter-spacing: 0.03em;
    font-size: 34px;
  }
  .sub_head {
    font-size: 28px;
  }
  form {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 1rem;
    input {
      width: 100%;
      background-color: transparent;
      border: none;
      outline: none;
      border-bottom: 1px solid var(--second-background-color);
      padding-bottom: 0.5rem;
      font-size: 16px;
      letter-spacing: 0.03em;
      color: black;
      font-weight: 500;
    }
  }
  .register {
    font-size: 20px;
    a {
      color: var(--second-background-color);
      font-weight: 600;
      letter-spacing: 0.03em;
      cursor: pointer;
    }
  }
}
