.login_register {
  .login_register_content {
    form {
      .label_file {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        svg {
          font-size: 30px;
        }
        color: var(--second-background-color);
        font-weight: 500;
        letter-spacing: 0.03em;
        cursor: pointer;
      }
    }
  }
}
